*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    margin: auto;
   max-width: 1200px;
    max-height: 600px;
}
.nav-bar{
    margin: auto;
    width: 100%;
    height: 600px;
    background: url("../images/banner/banner3.png");
    background-position: center;
    background-size: cover;
}
.container{
    width: 100%;
    height: 600px;
    position: relative;
    margin-right: 200px;
}
.nav-bar .content{
    text-align: right;
    right:150px;
    top: 200px;
    position: absolute;
    width: 400px; 
}
.container h3{
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.container .content p{
    line-height: 20px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.btn{
    background:#fff;
    color: #e01717;
   width: 100px;
   height: 40px; 
   font-size: 19x;
   font-weight: 400px;
   font-family: sans-serif;
   border: none;
   border-radius: 10px;
   transition: .3s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: #FFF;
    margin: auto;
}
.sec-main{
    margin-bottom: 200px;
    padding-top: 40px;
    margin: auto;
    display: flex;
    max-width: 1200px;
    max-height: 600px

}
.sec-main .sub1{
    margin-left: 5%;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
    background: #fff;

}
.sec-main .sub2{
    color:  #444343;
   font-family: Work Sans;
    margin-top: 25%;
    width: 40%;
    height:auto;

}
svg{
    display:inline-block;
}
.sub2 h3{
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;

}
.sub2 p{
     color:  #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.main{
    margin: auto ;
    max-width: 1200px;
 }
 .main .heading{
    margin-top: 200px ;
    margin-bottom: 30px;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;

 }
 .sub-main{ 
    display: flex;
    width: 100%;
    margin-bottom: 30px;
 }
.sub-main .contains{
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 25%;
    text-align: center;

    
}
.sub-main h4{
    margin: 10px 0px;
    color: #151414;
  font-family: Work Sans;
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
}
.sub-main p{
    color: #737272;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}
.end{
    margin: auto ;
    width: 1200px;
    height: 300px;
}
.banner{
    position: relative;
    align-items: center;
    margin: 30px ,0px;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%) , url("../images/watch.png"); 
    background-position: center;
    background-size: cover;
    border-radius: 10px
}
.pra{
    position: absolute;
    margin-top: 100px;

    margin-top: 65px;
    margin-left: 65px;
}
.banner p{
    color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
}
.pra button{
    width: 160px;
    height: 60px;
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 10px;
}
.pra a{
    color: #005FAC;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
transition: .4s ease-out;
}
.pra button:hover{ 
    background: orange;
    color: #FFF;
}